.homepage{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 80px;
}

.directory-menu{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.menu-item{
    min-width: 30%;
    height: 250px;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    margin: 0 7.5px 15px;

    &:first-child{
        margin-left: 7.5px;
    }
    &:last-child{
        margin-right: 7.5px;
    }

    .content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 1px solid black;
        height: 90px;
        padding: 0 25px;

        .title{
            font-weight: bold;
            margin-bottom: 6px;
            font-size: 22px;
            color: #4a4a4a;
        }
        .subtitle{
            font-size: 16px;
            font-weight: lighter;
        }
    }
}